In [126]:
import sqlite3 
import pandas as pd
import create_hist_mod as ch # import create_hist_mod is in the same directory

##### Show tables in the database

In [127]:
database_name='raisers_edge_data.db'
conn = sqlite3.connect(database_name)
query='''SELECT name FROM sqlite_master WHERE type='table'; '''
conn.execute(query).fetchall()

[('Analysis_Actions_View',),
 ('Analysis_Gift_Split_View',),
 ('Analysis_Appeals_View',),
 ('Analysis_Address_View',),
 ('Analysis_Contacts_View',),
 ('Analysis_Events_View',),
 ('Analysis_Membership_View',),
 ('Analysis_Primary_Numbers_View',),
 ('Analysis_Volunteer_Types_View',)]

In [128]:
database_name='raisers_edge_data.db'
query='''select a.CONSTITUENT_ID, a.First_Name, a.Last_Name, a.Company_Name, 
a.DOB, a.Gender, a.Deceased, a.Supporter_Type, b.PrimaryMember, b.ConsecYears,
b.TotalYears, b.Current_Standing, c.EVENTID, c.NAME, c.Participant_Registration, 
c.Participation_Type, c.Participant_Has_Attended, c.Participant_Type, c.EventStartDate,
c.Event_Type from Analysis_Contacts_View a LEFT JOIN Analysis_Membership_View 
b ON b.CONSTITUENT_ID=a.CONSTITUENT_ID LEFT JOIN Analysis_Events_View c ON c.CONSTITUENT_ID=a.CONSTITUENT_ID'''
df_test=ch.creating_dataframe_from_database_querying(query,database_name,return_shape=True)

shape of created dataframe  (803616, 20)

In [142]:
query ='''select Analysis_Contacts_View.CONSTITUENT_ID, 
Analysis_Contacts_View.First_Name, Analysis_Contacts_View.Last_Name from Analysis_Contacts_View'''
df_test=ch.creating_dataframe_from_database_querying(query,database_name,return_shape=True)

shape of created dataframe  (742704, 3)

In [130]:
df_test.head()

  CONSTITUENT_ID First_Name                         Last_Name
0              0             Anon IM Deceased 2000 Conversion
1             10        Ivy                            Dutton
2         100001
3         100004                                       Mather
4         100005                                      Langham

In [132]:
# it is just a test on one value
a=df_test['EVENTID'].iloc[1]
if a== None:
    print(a)
print(a,type(a))

KeyError: 'EVENTID'

In [ ]:
def convert(x):
    if x==None:
        x_aus=2000
    else:
        x_aus=int(x)
    return x_aus
df_test['EVENTID']=df_test['EVENTID'].apply(lambda x : convert(x))
df_test.dtypes

In [ ]:
df_test['EVENTID'].head()

In [ ]:
df_new=df_test['EVENTID'][df_test['EVENTID'] != 2000]

In [ ]:
df_new.shape

In [ ]:
df_new.head(10)

In [133]:
a=df_test['Last_Name'].iloc[2]
if a== None:
    print(a)
print(a,type(a),len(a))

 <class 'str'> 0

In [185]:
import re
def convert(x):
    #x_aus = unicode(str(u'x'), errors='ignore')
    x_aus=str(x)
    if len(x_aus)==0:
        x_aus='no value'
    if re.search("Esm", x_aus) is not None:
        print(x_aus)
    return x_aus
df_test['First_Name']=df_test['First_Name'].apply(lambda x : convert(x))
df_test.dtypes

Esmond
Esmail
Esme
Esme
Esme
Esme
Esme
Esme
Esmo
Esme
Esm�
Esme
Esme
Esme
Esme
Esme
Esmee
Esme
Esme
Esme
Esme
Esmeraldina
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmail
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmeralda
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmee
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmond
Esme
Esme
Esmond
Esme
Esme
Esmat
Esme
Esmee

CONSTITUENT_ID    object
First_Name        object
Last_Name         object
dtype: object

In [187]:
count=0
for i in df_test['First_Name']:
   # print(i)
    if re.search("Esm",str(i) ) is not None:
        count=count+1
        i=i.replace("\uFFFD",'_')
        print(i)
print(count)
#df_new2=df_test['Last_Name'][re.search("\uFFFD",df_test['Last_Name'] ) is not None]

Esmond
Esmail
Esme
Esme
Esme
Esme
Esme
Esme
Esmo
Esme
Esm�
Esme
Esme
Esme
Esme
Esme
Esmee
Esme
Esme
Esme
Esme
Esmeraldina
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmail
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmeralda
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmee
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esme
Esmond
Esme
Esme
Esmond
Esme
Esme
Esmat
Esme
Esmee
84

In [150]:
df_new=df_test['First_Name'][df_test['First_Name'] != 'no value']

In [145]:
df_new.shape

(707822,)

In [141]:
df_new.head(10)

1          Ivy
6        Doris
8            A
13       Doris
15           W
17        Paul
18    Margaret
19       Mario
20      Dennis
21      Joseph
Name: First_Name, dtype: object

In [ ]:
# In metod creating_dataframe_from_database_querying the first argument has to be an SQL query
#and the second argument a database name
database_name='raisers_edge_data.db'
query='''select * from Analysis_Primary_Numbers_View ;'''
df_primary_number_view=ch.creating_dataframe_from_database_querying(query,database_name,return_shape=True)

In [ ]:
df_primary_number_view.head(5)

In [ ]:
def convert(x):
    x_aus=str(x)
    if len(x_aus)==0:
        x_aus='no value'
    return x_aus
df_primary_number_view['Twitter']=df_primary_number_view['Twitter'].apply(lambda x : convert(x))
df_test.dtypes

In [ ]:
df_new=df_primary_number_view['Twitter'][df_primary_number_view['Twitter'] != 'no value']

In [ ]:
df_new.shape

In [ ]:
df_new.head(5)